# vim:fileencoding=utf-8:ft=conf

## Dependencies
# exa (ls replacement)
# fzf
# mosh
# nnn
# neovim
# starship
# zoxide
# zsh as shell

### Host specific things ###

{{- if eq .chezmoi.hostname "eggtart" }}
## EGGTART ##
# Keychain
eval `keychain --eval --agents ssh id_ed25519_eggtart`
# Path
export GOPATH=$HOME/go
export PATH=$GOPATH:/usr/bin:$PATH
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"

# oh-my-zsh
export ZSH="/home/scott/.oh-my-zsh"
plugins=(
  archlinux
  colored-man-pages
  copypath
  copyfile
  cp
  docker
  dotenv
  fasd
  git
  gitignore
  poetry
  pip
  pyenv
  python
  systemd
  # virtualenvwrapper
)

# lesspipe: see source-highlight package
# pacman -S source-highlight
export LESSOPEN="| src-hilite-lesspipe.sh %s" # See source-highlight package

# zsh syntax highlighting: pacman -S zsh-syntax-highlighting
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# zsh autosuggestions
# pacman -S zsh-autosuggestions
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.plugin.zsh

# yay -S zsh-vim-mode
source /usr/share/zsh/plugins/zsh-vi-mode/zsh-vi-mode.plugin.zsh

# django
export SHELL_PLUS='ipython'
{{- end }}


{{- if eq .chezmoi.hostname "cupcake" }}
## CUPCAKE ##
# Keychain
eval `keychain --eval --agents ssh id_rsa id_ed25519 id_rsa_4096`
# Path
export PATH=/Users/scott/Library/Python/3.9/bin:/usr/sbin:$PATH
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"

# oh-my-zsh
export ZSH="/Users/scott/.oh-my-zsh"
plugins=(
  git
  colored-man-pages
  docker
  dotenv
  gitignore
  pip
  pyenv
  # virtualenvwrapper
  vi-mode
)

# lesspipe: brew install lesspipe
export LESSOPEN="|$(brew --prefix)/bin/lesspipe.sh %s" LESS_ADVANCED_PREPROCESSOR=1

# zsh syntax highlighting: brew install zsh-styax-highlighting
source /usr/local/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# zsh autosuggestions
source /usr/local/share/zsh-autosuggestions/zsh-autosuggestions.zsh
{{- end }}

{{- if eq .chezmoi.hostname "turtle" }}
## TURTLE ##
# Keychain
eval `keychain --eval --agents ssh id_rsa`
# nvm
export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm

plugins=(
  colored-man-pages
  copypath
  copyfile
  cp
  docker
  dotenv
  git
  gitignore
  poetry
  pip
  pyenv
  python
  vi-mode
  zsh-autosuggestions
  zsh-vim-mode
)

{{- end }}

{{- if eq .chezmoi.hostname "mousehouse" }}
## MOUSEHOUSE ##
# Keychain
eval `keychain --eval --agents ssh id_rsa`
# Path
export GOPATH=$HOME/go
RUSTPATH=/home/scott/.cargo/bin
export PATH=$GOPATH:$RUSTPATH:/usr/bin:$PATH
# oh-my-zsh
export ZSH="/home/scott/.oh-my-zsh"
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"
# nvm
export NVM_DIR="$([ -z "${XDG_CONFIG_HOME-}" ] && printf %s "${HOME}/.nvm" || printf %s "${XDG_CONFIG_HOME}/nvm")"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh" # This loads nvm

plugins=(
  archlinux
  autojump
  colored-man-pages
  copypath
  copyfile
  cp
  docker
  dotenv
  gcloud
  git
  gitignore
  poetry
  pip
  pyenv
  python
  systemd
  vi-mode
  # virtualenvwrapper
  zsh-autosuggestions
  zsh-vim-mode
)

# lesspipe: see source-highlight package
export LESSOPEN="| src-hilite-lesspipe.sh %s" # See source-highlight package

# zsh syntax highlighting: pacman -S zsh-syntax-highlighting
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# zsh autosuggestions
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.plugin.zsh

# django
export SHELL_PLUS='ipython'
{{- end }}


### Universal settings ###

# Get zsh going
source $ZSH/oh-my-zsh.sh

## More environment variables
export VIMCONFIG=~/.config/nvim
export VIMDATA=~/.local/share/nvim

# Modal prompt for vi-mode
VI_MODE_RESET_PROMPT_ON_MODE_CHANGE=true
VI_MODE_SET_CURSOR=true

# Theme
# ZSH_THEME="agnoster"

# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
  export VISUAL='nvim'
else
  export EDITOR='vim'
  export VISUAL='nvim'
fi

## Aliases/aliases
alias vim="nvim"
alias vi="nvim"
alias mMousehouse="mosh -p 60020:60029 mousehouseR"
alias mTurtle="mosh -p 60010:60019 turtleR"
alias mNihilism="mosh -p 60000:60009 nihilismR"
alias k="kubectl"
alias l="ls"
alias ls="exa --oneline --group-directories-first --icons --color=always --grid"
alias lng="exa --oneline --group-directories-first --icons --color=always"
alias ll="exa --long --header --group --git --color=always --grid --icons --group-directories-first"
alias la="exa --long --header --group --git --color=always --grid --icons --group-directories-first --all"
alias tree="exa --tree --color=always --long --git --icons"
alias t="exa --tree --level=2 --color=always --icons"
# grep alias
alias psg="ps waux | grep -i"
alias lsg="la | grep -i"

# nnn
export NNN_BMS="d:~/downloads;D:~/Documents;c:~/code;m:~/.config/nnn/mounts"
export NNN_FIFO="/tmp/nnn.fifo"
export NNN_PLUG="o:fzopen;c:fzcd;d:diffs;r:renamer;k:pskill;p:preview-tui-ext"
export NNN_SSHFS="sshfs -o follow_symlinks"        # make sshfs follow symlinks on the remote

# Get a two line prompt.
# agnoster
prompt_end() {
  if [[ -n $CURRENT_BG ]]; then
      print -n "%{%k%F{$CURRENT_BG}%}$SEGMENT_SEPARATOR"
  else
      print -n "%{%k%}"
  fi

  print -n "%{%f%}"
  CURRENT_BG=''

  #Adds the new line and ➜ as the start character.
  printf "\n ➜";
}
# Hide user@host
# prompt_context(){}

# Hooks
# Source: https://stackoverflow.com/questions/3964068/zsh-automatically-run-ls-after-every-cd
# ls after every CD
function chpwd() {
    emulate -L zsh
    l --grid
}



# Uncomment the following line to use case-sensitive completion.
# CASE_SENSITIVE="true"

# Uncomment the following line to use hyphen-insensitive completion.
# Case-sensitive completion must be off. _ and - will be interchangeable.
# HYPHEN_INSENSITIVE="true"

# Uncomment the following line to disable bi-weekly auto-update checks.
# DISABLE_AUTO_UPDATE="true"

# Uncomment the following line to automatically update without prompting.
# DISABLE_UPDATE_PROMPT="true"

# Uncomment the following line to change how often to auto-update (in days).
# export UPDATE_ZSH_DAYS=13

# Uncomment the following line if pasting URLs and other text is messed up.
# DISABLE_MAGIC_FUNCTIONS=true

# Uncomment the following line to disable colors in ls.
# DISABLE_LS_COLORS="true"

# Uncomment the following line to disable auto-setting terminal title.
# DISABLE_AUTO_TITLE="true"

# Uncomment the following line to enable command auto-correction.
# ENABLE_CORRECTION="true"

# Uncomment the following line to display red dots whilst waiting for completion.
# COMPLETION_WAITING_DOTS="true"

# Uncomment the following line if you want to disable marking untracked files
# under VCS as dirty. This makes repository status check for large repositories
# much, much faster.
# DISABLE_UNTRACKED_FILES_DIRTY="true"

# Uncomment the following line if you want to change the command execution time
# stamp shown in the history command output.
# You can set one of the optional three formats:
# "mm/dd/yyyy"|"dd.mm.yyyy"|"yyyy-mm-dd"
# or set a custom format using the strftime function format specifications,
# see 'man strftime' for details.
# HIST_STAMPS="mm/dd/yyyy"

# Would you like to use another custom folder than $ZSH/custom?
# ZSH_CUSTOM=/path/to/new-custom-folder

# Which plugins would you like to load?
# Standard plugins can be found in ~/.oh-my-zsh/plugins/*
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.

# User configuration

# export MANPATH="/usr/local/man:$MANPATH"

# You may need to manually set your language environment
# export LANG=en_US.UTF-8

# Compilation flags
# export ARCHFLAGS="-arch x86_64"

# Set personal aliases, overriding those provided by oh-my-zsh libs,
# plugins, and themes. Aliases can be placed here, though oh-my-zsh
# users are encouraged to define aliases within the ZSH_CUSTOM folder.
# For a full list of active aliases, run `alias`.
#
# Example aliases
# alias zshconfig="mate ~/.zshrc"
# alias ohmyzsh="mate ~/.oh-my-zsh"

# starship
eval "$(starship init zsh)"
# zoxide
eval "$(zoxide init zsh)"

# pyenv
eval "$(pyenv init -)"

# Added by TerraForm
autoload -U +X bashcompinit && bashcompinit
complete -o nospace -C /usr/bin/terraform terraform

